*.test
*.out
*.svg
*.prof
awless
*.zip
.idea
.codegraph/

# Compiled code generators (build with: cd gen/aws/generators && go run *.go)
/generators
gen/aws/generators/generators

# GoReleaser build output
/dist/
